.regalo {
    background-color: #c50000;
    width: 150px;
    height: 100px;
    border: 5px solid #ffcc00;
    position: relative;
}

img {
    position: absolute;
    top: -10px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-color: #00AA00;
    border: 5px solid #00AA00;
    border-radius: 100%;
}

p {
    font-weight: bold;
    padding-left: 10px;
}