.grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 150px 150px 150px;
    gap: 20px;
    border: 20px solid #000a90;
}

.div_background {
    background-color: #e4e4e4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#img {
    width: 50px;
}
