

/* DIA 9 ----------------------- */

.dia9 {
    background-color: #001529;
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.bola {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    top: -20px;
    opacity: 0.8;
    animation: caer linear infinite; 
}

@keyframes caer {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(420px);
        opacity: 0;
    }
}

.bola:nth-child(1) { left: 20%; width: 10px; height: 10px; animation-duration: 4s; }
.bola:nth-child(2) { left: 40%; width: 6px; height: 6px; animation-duration: 6s; animation-delay: 1s; }
.bola:nth-child(3) { left: 60%; width: 12px; height: 12px; animation-duration: 5s; animation-delay: 2s; }
.bola:nth-child(4) { left: 80%; width: 8px; height: 8px; animation-duration: 7s; }


/* DIA 10 ----------------------- */

.regalo {
    background-color: #c50000;
    width: 150px;
    height: 100px;
    border: 5px solid #ffcc00;
    position: relative;
}

.img_regalo {
    position: absolute;
    top: -10px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-color: #00AA00;
    border: 5px solid #00AA00;
    border-radius: 100%;
}

.regalo10 {
    font-weight: bold;
    padding-left: 10px;
}


/* DIA 11 ----------------------- */

.grid_11 {
    display: inline-grid;
    grid-template-columns: 150px 150px 150px;
    gap: 20px;
    background-color: #000a90;
    border: 20px solid #000a90;
}

.div_background {
    background-color: #e4e4e4;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_11 {
    width: 50px;
}


/* DIA 12 ----------------------- */

.flex_div {
    display: flex;
    justify-content: center;
    background-color: #22b42b;
    height: auto;
    gap: 10%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
}

.div_background_12 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    padding: 20px 20px;
}

.div_background_12:hover {
    background-color: #4cd04c;
}

.p_12 {
    margin: 0;
    font-weight: bold;
}


/* DIA 13 ----------------------- */

.div_background_13 {
    background-color: #dbb50d;
}

.texto_dia13 {
    text-align: center;
    padding: 40px;
}

.p_dia13 {
    color: #ffffff;
    font-weight:lighter;
}

@media (max-width: 600px) {
    .div_background_13 {
    background-color: #d70528;
    }
}


/* DIA 14 ----------------------- */

.div_background_14 {
    background-color: #cecece;
    padding: 30px;
    border: #c50000 solid;
}

.dia14 {
    width: 350px;
}

.boton_14 {
    background-color: #c50000;
    color: #ffffff;
    width: 130px;
    height: 40px;
    font-weight: lighter;

    display: flex;            
    justify-content: center;
    align-items: center;
    padding: 0;
}

.boton_14:hover {
    background-color: #00AA00;
}


/* DIA 15 ----------------------- */

.dia15 {
    width: 100px;
    transition: width 0.5s;
}

.div_15_1 {
    background-color: #ffcc00;
    padding-top: 1px;
    padding-bottom: 1px;
}

.div_15_2 {
    background-color: #c50000;
    padding-top: 1px;
    padding-bottom: 1px;
}

.texto_15 {
    color: #ffffff;
    font-weight: lighter;

    display: flex;
    align-items: center;

}

.dia15:hover {
    width: 300px;
}


/* DIA 16 ----------------------- */

.table16 th {
    background-color: #00AA00;
    color: #ffffff;
    width: 600px;
    border: #000661 solid;
    padding: 12px 15px;
    text-align: left;

}

.table16 {
    border: #000661 solid;
    border-collapse: collapse; 
}

.table16 td {
    border: #000661 solid;
    padding: 12px 15px;
}

.table16 tr:nth-child(even) {
    background-color: #e0e0e0;
}


/* DIA 17 ----------------------- */

.dia17 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.copo {
    width: 4px;
    height: 50px;
    background-color: blue;
    position: relative;
}

.copo::before, 
.copo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.copo:hover::before {
    transform: rotate(60deg);
    transition: transform 0.5s ease;
}

.copo:hover::after {
    transform: rotate(-60deg);
    transition: transform 0.5s ease;
}


/* DIA 18 ----------------------- */

.dia18 {
    margin-top: 30px;
}

.grinch {
    width: 300px;
    filter: grayscale(0%) blur(0px);
    transition: filter 0.5s ease;
}

.grinch:hover {
    filter: grayscale(50%) blur(3px);
}


/* DIA 19 ----------------------- */

.dia19 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.imagenes_grid {
    display: grid;
    grid-template-columns: repeat(3, 150px); 
    grid-template-rows: repeat(2, 150px) auto; 
    gap: 15px;
}

.imagenes_grid img {
    height: 100%;
}

.imagen_grande {
    grid-column: span 2; 
    grid-row: span 2; 
}

.imagen_pie {
    height: 100px !important; 
    object-fit: contain !important;
}


/* DIA 20 ----------------------- */

.dia20 {
    width: 100%;
    margin-top: 30px;
    display: flex;
}

.villancico {
    background-color: #ff0000;
    color: #ffffff;
    width: 300px;
    height: 150px;
    padding: 15px;
    border: 3px solid #b60000;
    
    overflow-y: auto;
}

.villancico h3 {
    color: #000000;
}

.villancico p {
    line-height: 1.4;
}


/* DIA 21 ----------------------- */

.dia21 {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.bola-cristal {
    font-size: 80px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.bola-cristal:hover {
    transform: rotate(360deg) scale(1.5);
}


/* DIA 22 ----------------------- */

.dia22 {
    width: 95%;
}

.formulario22 {
    margin-bottom: 15px;
}

.formulario22 label {
    display: block;
    margin-bottom: 5px;
}

.dia22 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    outline: none;
}

.dia22 input:focus {
    border: 3px solid #27ae60;
}

.boton22 {
    padding: 8px 15px;
    background-color: #eaeaea;
    border: 1px solid #c8c8c8;
    cursor: pointer;
}

.boton22:hover {
    background-color: #e0e0e0;
}


/* DIA 23 ----------------------- */

.dia23 {
    width: 100%;
}

.fondo23 {
    background-image: url('../imagenes/background_navidad.jpeg');
    height: 450px;
    background-attachment: fixed;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.fondo23 h3 {
    margin: 0;
    text-shadow: 3px 3px 4px #000000;
}

.fondo23 p {
    padding: 10px 20px;
    margin-top: 15px;
    text-shadow: 3px 3px 3px #000000;
}


/* DIA 24 ----------------------- */

.escena_final {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 10px;
    grid-template-areas: 
        "header header header"
        "regalos arbol chimenea"
        "footer footer footer";
    margin-top: 20px;
}

.nav_final, .pie_final {
    background-color: #1d4166;
    color: #ffffff;
    padding: 10px;
}

.nav_final { 
    grid-area: header;
}
.pie_final { 
    grid-area: footer;
}

.regalos_lateral {
    grid-area: regalos;
    background-color: #5148d1;
    height: 300px;
    padding: 10px;
}

.chimenea {
    grid-area: chimenea;
    background-color: #f84f4f;
    height: 300px;
    padding: 10px;
}

.arbol_div {
    grid-area: arbol;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
}

.arbol-contenedor img {
    max-height: 280px;
    width: auto;
}

.estrella {
    position: absolute;
    top: 40px;
    font-size: 2.5rem;
    transition: transform 0.5s ease;
}

.estrella:hover {
    transform: scale(1.3) rotate(360deg);
}


/* DIA 25 ----------------------- */

.dia25 {
    margin-top: 40px;
}

.h1navidad {
    font-size: 5rem;
    color: #e74c3c;
    text-shadow: 2px 2px 0px #f1c40f,4px 4px 0px #27ae60;
}

.mensaje_oculto {
    color: #000000;
    opacity: 0;
}

.div_secreto:hover .mensaje_oculto {
    opacity: 1;
}


/* DIA 26 ----------------------- */

.barra_fija {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}


/* DIA 27 ----------------------- */

.dia27 {
    margin-top: 40px;
}

.form_propositos {
    display: flex;
    gap: 10px;
}

.form_propositos input {
    padding: 8px;
    border: 1px solid #787878;
}

.form_propositos input:invalid:not(:placeholder-shown) {
    border: 2px solid red;
}

.form_propositos input:valid {
    border: 2px solid green;
}

.form_propositos button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #898989;
}


/* DIA 28 ----------------------- */

.dia28 {
    margin-top: 40px;
}

.contenedor-columnas {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.columna-azul {
    flex: 1;
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 25px;
}

@media (max-width: 768px) {
    .contenedor-columnas {
        flex-direction: column;   
    }
}


/* boton_subir */

.volver_arriba {
    background-color: #f0f0f0;
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    border: #b0b0b0 solid 2px;
    border-radius: 10px;
}

.volver_arriba:hover {
    background-color: #9fccff;
}