/* DIA 10 ----------------------- */

.regalo {
    background-color: #c50000;
    width: 150px;
    height: 100px;
    border: 5px solid #ffcc00;
    position: relative;
}

.img_regalo {
    position: absolute;
    top: -10px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-color: #00AA00;
    border: 5px solid #00AA00;
    border-radius: 100%;
}

p {
    font-weight: bold;
    padding-left: 10px;
}

/* DIA 11 ----------------------- */

.grid_11 {
    display: inline-grid;
    grid-template-columns: 150px 150px 150px;
    gap: 20px;
    background-color: #000a90;
    border: 20px solid #000a90;
}

.div_background {
    background-color: #e4e4e4;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_11 {
    width: 50px;
}

/* DIA 12 ----------------------- */

.flex_div {
    display: flex;
    background-color: #22b42b;
    height: 50px;
    gap: 80px;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
}

.div_background_12 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 15px;
}

.div_background_12:hover {
    background-color: #4cd04c;
}

.p_12 {
    margin: 0;
}


/* DIA 13 ----------------------- */

.div_background_13 {
    background-color: #dbb50d;
}

.texto_dia13 {
    text-align: center;
    padding: 40px;
}

.p_dia13 {
    color: #ffffff;
    font-weight:lighter;
}

@media (max-width: 600px) {
    .div_background_13 {
    background-color: #d70528;
    }
}

/* DIA 14 ----------------------- */

.div_background_14 {
    background-color: #cecece;
    padding: 30px;
    border: #c50000 solid;
}

.dia14 {
    width: 350px;
}

.boton_14 {
    background-color: #c50000;
    color: #ffffff;
    width: 130px;
    height: 40px;
    font-weight: lighter;

    display: flex;            
    justify-content: center;
    align-items: center;
    padding: 0;
}

.boton_14:hover {
    background-color: #00AA00;
}

/* DIA 15 ----------------------- */

.dia15 {
    width: 100px;
    transition: width 0.5s;
}

.div_15_1 {
    background-color: #ffcc00;
    padding-top: 1px;
    padding-bottom: 1px;
}

.div_15_2 {
    background-color: #c50000;
    padding-top: 1px;
    padding-bottom: 1px;
}

.texto_15 {
    color: #ffffff;
    font-weight: lighter;

    display: flex;
    align-items: center;

}

.dia15:hover {
    width: 300px;
}

/* DIA 16 ----------------------- */

.dia {
    background-color: #000a90;
}