.regalo {
    background-color: #c50000;
    width: 150px;
    height: 100px;
    border: 5px solid #ffcc00;
    position: relative;
}

.img_regalo {
    position: absolute;
    top: -10px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-color: #00AA00;
    border: 5px solid #00AA00;
    border-radius: 100%;
}

p {
    font-weight: bold;
    padding-left: 10px;
}

/* ----------------------- */

.grid_11 {
    display: inline-grid;
    grid-template-columns: 150px 150px 150px;
    gap: 20px;
    background-color: #000a90;
    border: 20px solid #000a90;
}

.div_background {
    background-color: #e4e4e4;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_11 {
    width: 50px;
}

/* ----------------------- */

.flex_div {
    display: flex;
    background-color: #22b42b;
    height: 50px;
    gap: 80px;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
}

.div_background_12 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 15px;
}

.div_background_12:hover {
    background-color: #4cd04c;
}

.p_12 {
    margin: 0;
}